/*@import url(http://reset5.googlecode.com/hg/reset.min.css);*/
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
/*body, form, #zona{
	
	width: 100%;

	display: inline-flex;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;

	justify-content:center; 
    -webkit-justify-content:center; 
    -moz-justify-content:center; 
    -ms-justify-content:center; 

    flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}*/
#zona{
	background-color: #fff;
	position: relative;
	width: 100%;
	height: auto;
} 
/*Calendario*/
#calendario{
	box-sizing: border-box;
	margin-left: 0.5%;
	margin-top: 2%;
	margin-right: 0.5%;
	border: inset 0pt
}
#campo{
	box-sizing: border-box;
	font-family: 'Fredoka One', cursive;
	padding: 0.7em 2em;
	background-color: #9CF678;
	border-bottom:1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 0px;
}
.pasado{
	box-sizing: border-box;
	font-family: 'Fredoka One', cursive;
	padding: 0.7em 2em;
	background-color: #F2F058;
	border-bottom:1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 0px;
}
#campo:hover{
	background-color: #BADA99;
}
#diaSemana{
	box-sizing: border-box;
	font-weight: bold;
	text-align: center;
	background-color: #222222;
	border-bottom: 5px solid #1D99D6;
	color:#fff;
	width: 350px;

}
#hora{
	box-sizing: border-box;
	border-bottom: 0px;
	font-weight: bold;
	background-color: #222222;
	border-right: 5px solid #273481;
	padding: 0.6em 0.6em;
	color:#fff;
}
#fechaActual{
	box-sizing: border-box;
	border-bottom: 0px;
	font-weight: bold;
	background-color: #222222;
	padding: 0.6em 0.6em;
	color:#fff;
	border-bottom: 5px solid #1D99D6;
	text-align: center;
}
/*Botones calendario*/
#mas{
	display: inline-block;
}
#menos{
	display: inline-block;
}
#cal{
	display: inline-block;
}
/*Entrada*/
input{
	display: inline-block;
	position: relative;
}